.container{
    width: 85vw;
    background-color: darkcyan;
    height: 400px;
}

.inner{
    background-color: blueviolet;
    height: 50vh;
    width: 50vw;
}

p{
    color: aliceblue;
    background-color: grey;
    font-size: 12px;
    height: 5rem;
}