.container{
    width: 85%;
    display: flex;
    margin: auto;
}

.inner{
    width: 30%;
    background-color: grey;
    border: 2px solid darkblue;
    margin: 5px;
}
p{
    font-size: 24px;
    text-align: center;
}

@media (max-width:960px){
    .container{
        display: block;
    }

    .inner{
        width: 90%;
        background-color: aqua;
    }
}