@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


h2{

    width: 365px;
    height: 93px;
    margin-left: 124px;
    margin-top: 91px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
}

.maintex{
    display: flex;
    align-items: flex-end;
}

.paragraphs{
    
    width: 662px;
    height: 374px;
    margin-left: 124px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;

    
}
.photocamera{
    position: relative;
    width: 314px;
    height: 315px;
    margin-left: 976px;
    margin-top: -400px;

}

.ellipss{

   margin-left: 950px;
   margin-top: -25px;

  

}
.ellipss2{
    
    margin-left: -200px;
    margin-top: 333px;
 }
.photocamera2{
    position: relative;
    width: 232px;
    height: 203px;
    margin-left: 124px;
    margin-top: 150px;

}
.altdivmain{
    display: flex;
    padding-bottom: 50px;
}

.paragraphs2{ 
    display: flex;
    
}

.altdiv{
    

    width: 400px;
    font-size: 18px;
    line-height: 130%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    margin-top: 150px;
    margin-right: -150px;
    margin-left: 100px;
    align-items: left;
}

.altp{
    margin-left: 100px;
    width: 150px;
    height: 39px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    
}
.alth2{
    width: 150px;
    height: 39px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    margin-left: 100px;
    margin-bottom: -15px;
    
    
    
}



@media (max-width: 830px) {
    /* stillər eni 830 px-ə qədər ekranlar üçün işləyəcək */
    h2{

    width: 365px;
    height: 93px;
    margin-left: 124px;
    margin-top: 91px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
}

.maintex{
    display: flex;
    align-items: flex-end;
    margin: auto;
}

.paragraphs{
    
    width: 662px;
    height: 374px;
    margin-left: 124px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;

    
}
.photocamera{
    position: relative;
    width: 314px;
    height: 315px;
    margin-left: 830px;
    margin-top: -400px;

}

.ellipss{

   margin-left: 830px;
   margin-top: -30px;

  

}
.ellipss2{
    width: 211.98px;
    height: 34.17px;
    margin-left: -200px;
    margin-top: 333px;
 }
 .photocamera2{
    display: none;
    position: relative;
    width: 232px;
    height: 203px;
    margin-left: 124px;
    margin-top: 150px;

}
.altdivmain{
    display: flex;
    padding-bottom: 50px;
    align-items: flex-start;
}

.paragraphs2{ 
    position: relative;
    display: flex;
    margin-left: -75px;
    
}

.altdiv{
    

    width: 400px;
    font-size: 18px;
    line-height: 130%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    margin-top: 150px;
    margin-right: -250px;
    
    align-items: left;
}

.altp{
    

    height: 39px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    
}
.alth2{
    
    height: 39px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    margin-left: 100px;
    margin-bottom: -15px;
    
    
    
}

}


@media (max-width: 375px) {
    /* stillər eni 375 px-ə qədər ekranlar üçün işləyəcək */
    h2{

        width: 365px;
        height: 93px;
        margin-left: 124px;
        margin-top: 91px;
    
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 101.38%;
    }
    

    .maintex{
        
        margin-right: 20px;
    
    }
    
    .paragraphs{
        
        width: 308.47px;
        height: 174.27px;
        margin-left: 124px;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;
    
        
    }
    .photocamera{
        position: relative;
        width: 170.55px;
        height: 160.29px;
        margin-top: 750px;
        margin-left: 90px;
    
    }
    
    .ellipss{
    
       margin-left: 90px;
       margin-top: 120px;
    
    }
    .ellipss2{
        width: 211.98px;
        height: 34.17px;
        margin-left: -200px;
        margin-top: 333px;
     }
     .photocamera2{
        display: none;
        position: relative;
        width: 232px;
        height: 203px;
        margin-left: 124px;
        margin-top: 150px;
        margin-bottom: -250px;
    
    }
    .altdivmain{
        display: block;
        align-items: flex-start;
        margin-bottom: -250px;
    }
    
    .paragraphs2{ 
        position: relative;
        display: flex;
        margin-left: -75px;
        flex-wrap: wrap;
        
    }
    
    .altdiv{
        
    
        width: 300px;
        font-size: 18px;
        line-height: 130%;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        margin-top: 10px;
        margin-right: -250px;
        
        align-items: left;
    }
    
    .altp{
        
    
        height: 39px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
        
    }
    .alth2{
        
        height: 39px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 130%;
        margin-left: 100px;
        margin-bottom: -15px;
        
        
        
    }
    
}
